/* Responsive YouTube Embed */
.embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

border: 0px;
}

/* Markdown footnotes */
/* Footnote number within body text*/
a[href^="#fn:"],
/* Back to footnote link*/
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bold;
}

/* List of footnotes*/
.footnotes {
  margin-top: 2rem;
  font-size: 85%;
}
